#!/bin/bash
subscription-manager register --username={{ rhn_username }} --password={{ rhn_password }}
subscription-manager attach --pool={{ capsule_pool_id }}
subscription-manager repos --enable=rhel-7-server-rpms --enable=rhel-7-server-satellite-capsule-6.3-rpms
yum install -y katello
capsule-installer --scenario capsule --foreman-initial-organization "Default_Organization" --foreman-initial-location "Default_Location"
